<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>

    <!-- <div class="collapse navbar-collapse" id="navbarsExampleDefault"> -->

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <!-- routerLinkActive="active", make this link as Active when go to this route   -->
        <a class="nav-link" [routerLink]="['/members']">Matches </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>

    <!-- Show different navbar When logged in or not  -->
    <!-- Add "dropdown directive" -->
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <span class="mr-1">
        <!-- Show logged user's main photo-->
        <!-- old one before any to any component communication <img src="{{authService.currentUser.photoUrl}}" alt=""> -->
        <img src="{{photoUrl || '../../assets/user.png'}}" alt="">
      </span>
      <!-- Add dropdownToggle -->
      <a class="dropdown-toggle text-light" dropdownToggle>
        <!--  -->
        <!-- safe navigation operator sometimes called the Elvis operator to the decoded token 
        ,then this is going to make my unique name property optional. 
        not get error because authService -->
        Welcome<strong>  {{ authService.decodedToken?.unique_name | titlecase }}</strong>
      </a>
      <!-- set up dropdownMenu, it's a "structual directive" -->
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="loggout()">
          <i class="fa fa-sign-out"></i>Logout
        </a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" required name="username"
        [(ngModel)]="model.Username" #username="ngModel" />
      <input class="form-control mr-sm-2" type="password" placeholder="Password" required name="password"
        [(ngModel)]="model.password" #password="ngModel" />
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">
        Login
      </button>
    </form>

    <!-- </div> -->
  </div>
</nav>

<!-- <pre>
  <strong>Onec use #attribute="ngForm" or "ngModel"</strong>
  <strong>You can use properties like below</strong>
    Form Valid: {{loginForm.valid}}
    Form Touched: {{loginForm.touched}}
    Form Dirty: {{loginForm.dirty}}
    Form Values: {{loginForm.value | json}}
    =============
    Username Valid: {{username.valid}}
    Username Touched: {{username.touched}}
    Username Dirty: {{username.dirty}}
    Username Values: {{username.value | json}}
    =============
    Password Valid: {{password.valid}}
    Password Touched: {{password.touched}}
    Password Dirty: {{password.dirty}}
    Password Values: {{password.value | json}}
</pre> -->
