<!-- FOR Test. Put Elvis operator, its proper name is "safe navigation operator"  ?. -->
<!-- <p>
  {{user?.knowAs}}
</p> -->
<div class="container mt-4">
  <div class="row">
    <h1>{{user.knownAs}}'s Profile</h1>
  </div>
  <div class="row">
    <!-- one row split into two columns -->
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl || '../../../assets/user.png'}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <!-- <p>{{user?.city}}, {{user?.country}}</p> , ONCE user member-detail.resolver not need ? sign (safe navigation operators)-->
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{user.lastActive | timeAgo }}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{user.created | date: "mediumDate" }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <!-- d-flex and then add w-100 (width-100) to modify button  -->
            <button class="btn btn-primary w-100">Like</button>
            <!-- message tabId = 3 -->
            <button class="btn btn-success w-100" (click)="selectTab(3)">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <!-- give tabset a reference #memberTemps, that can direct go to member-messages tab 
          when click left-bottom message button from member-detail  -->
        <tabset class="member-tabset" #memberTabs>
          <tab heading="About {{user?.knowAs}}"> <!-- tabId = 0 -->
            <h4>Description</h4>
            <p>{{user.introduction}}</p>
            <h4>Looking For</h4>
            <p>{{user.lookingFor}}</p>
          </tab>
          <tab heading="Interests"> <!-- tabId = 1 -->
            <h4>Interests</h4>
            <p>{{user.interests}}</p>
          </tab>
          <tab heading="Photos"> <!-- tabId = 2 -->
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          <tab heading="Messages"> <!-- tabId = 3 -->
            <!-- Need to pass recipientId(userId) -->
            <app-member-messages [recipientId]="user.id"></app-member-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
